html,
body {
    font-family: "Montserrat", sans-serif !important;
}

a:hover {
    /*color: white !important;*/
    text-decoration: none;
    /* -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; */
}

.text-red {
    color: #af384f !important;
}

.text-pink {
    color: #d16a7d !important;
}

.text-gray {
    color: #c4c4c4;
}

.border-red {
    border-color: #af384f;
}

.border-1 {
    border-width: 1px;
}

.borderBanner {
    background-color: #af384f;
    color: #af384f;
    height: 8px;
}

.scrollbar {}

.scrollbar::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    /* border-radius: 10px; */
    background-color: rgba(255, 210, 210, 0.5);
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
    background-color: #af384f;
}

.w-max {
    width: max-content;
}

.w-44 {
    width: 11rem;
}

.-mt-44 {
    margin-top: -11rem;
}

.top-0_5 {
    top: 0.125rem;
}

.w-96 {
    width: 24rem;
}

.w-36 {
    width: 9rem;
}

.wMax-72 {
    max-width: 21rem;
}

.wMax-18 {
    max-width: 18rem;
}

.mt-11 {
    margin-top: 2.7rem;
}

.my-1-5 {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

.mb-1-5 {
    margin-bottom: 0.375rem;
}

.-mx-2_5 {
    /*   margin-left: -10px;
    margin-right: -10px;*/
    margin-left: -20px;
}

.left-2-5 {
    left: 0.625rem;
}

.py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.h-9 {
    height: 2.25rem;
}

.btnShadow {
    box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.22);
}

.btnShadow:hover {
    box-shadow: 0px 15px 25px -5px rgba(50, 50, 50, 0.23);
    transform: scale(1.05);
}

.containerLoginRegister {
    width: 90%;
    /*top: 56px;*/
    max-width: 550px;
}

.separeNavBar {
    top: 57px;
}


/* .videoDemoPage {
    background: white;
    background-image: url('~/assets/img/laser/frame.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 88px;
} */

.borderbottomred {
    border-bottom: solid 10px #af384f;
    /* border-bottom: solid 10px #b13850;*/
    border-collapse: collapse;
}

.btnVideo {
    background: #b13850;
    border-radius: 25px;
}

.box_Illustrazioni_content {
    background: #ffd2d2;
}

.BtnBuyNow {
    background: #af384f;
    padding: 12px;
    border-radius: 6px;
    width: 150px;
}

.transform1pxY {
    transform: translateY(1px);
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li,
.slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

*/ .slick-track[data-v-e4caeaf8] {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track.slick-center[data-v-e4caeaf8] {
    margin-left: auto;
    margin-right: auto
}

.slick-track[data-v-e4caeaf8]:after,
.slick-track[data-v-e4caeaf8]:before {
    display: table;
    content: ""
}

.slick-track[data-v-e4caeaf8]:after {
    clear: both
}

.slick-loading .slick-track[data-v-e4caeaf8] {
    visibility: hidden
}

.slick-slide[data-v-e4caeaf8] {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide[data-v-e4caeaf8] {
    float: right
}

.slick-slide img[data-v-e4caeaf8] {
    display: block;
}

.slick-slide.slick-loading img[data-v-e4caeaf8] {
    display: none
}

.slick-slide.dragging img[data-v-e4caeaf8] {
    pointer-events: none
}

.slick-initialized .slick-slide[data-v-e4caeaf8] {
    display: block
}

.slick-loading .slick-slide[data-v-e4caeaf8] {
    visibility: hidden
}

.slick-vertical .slick-slide[data-v-e4caeaf8] {
    display: block;
    height: auto;
    border: 1px solid transparent;
    width: 1500px;
}

.slick-arrow.slick-hidden[data-v-21137603] {
    display: none
}

.slick-slider[data-v-3d1a4f76] {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list[data-v-3d1a4f76] {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-list[data-v-3d1a4f76]:focus {
    outline: none
}

.slick-list.dragging[data-v-3d1a4f76] {
    cursor: pointer;
    cursor: hand
}


/* Arrows */

.slick-arrow {
    border-radius: 25px;
    background: rgba(65, 65, 65, 0.5);
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    /* background: transparent;*/
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: rgba(65, 65, 65, 0.8);
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 12px;
    z-index: 2;
}

[dir='rtl'] .slick-prev {
    /*right: -25px;*/
    right: 12px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    /* right: -25px;*/
    right: 12px;
}

[dir='rtl'] .slick-next {
    right: auto;
    /*left: -25px;*/
    left: 12px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    /*  bottom: -25px;*/
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 20px;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 20px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0.5;
    color: #ffd2d2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 0.9;
    color: #af384f;
}


/* the slides */

.slick-slide {
    /*margin: 0 27px;*/
}


/* the parent */

.slick-list {
    /*  margin: 0 -27px;*/
}